* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/*

font-family: 'Caveat Brush', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;

*/

body {	
	background-image: linear-gradient(to bottom right, #f4fcf8, #93e9be);
	font-family: 'Roboto', sans-serif;
	background-size: auto 100vh;
	height:100vh;	
	font-size: 14px;
}

@media (min-width:400px) {
	body{
		font-size: 18px;
	}
}

header {
	height: 100vh;
	display:flex;
	/*
		display:flex;
			header vira flex container, só pega o objeto pai e o objeto filho
	*/
	justify-content: center;
	align-items: center;
}

.linkMenu {
	color : #3a5d4c;
	text-decoration:none;
}

.menu {
	background:#93da93;
	position: fixed;
	top:0; /* Só existe com o position ativado*/
	width: 100vw;
	height: 61px;
}

.menu a {
	display : block;
	padding:20px 30px;	
}

.menu a:hover {
	background-color:#53dc98;
	border-bottom: 2px solid #1d2e26;
}

.menu ul {
	display:flex;
	justify-content:space-around;
}

.menu li {
	list-style:none;	
}

.site-subtitle,
.site-title{
	color: #66a385;
	text-align: center;
}

.site-subtitle{
	font-family: 'Source Code Pro', monospace;
	font-size:2em;
}

.site-title{
	font-family: 'Caveat Brush', cursive;
	font-size: 4em;
}

.portifolio{
	padding: 2em;
	height: 100vh;
}

.portifolio h2{
	font-family: 'Source Code Pro', monospace;
	color: #66a385;
	margin-bottom: 2em;
	font-size:2em;
}

.portifolio .grid{
	display:grid;
	gap: 2em;	
}

@media (min-width:560px) {
	.portifolio .grid{
		grid-template-columns: repeat(2,240px);		
	}
}

@media (min-width:880px) {
	.portifolio .grid{
		grid-template-columns: repeat(3,240px);
		align-content:center;
		justify-content: center;
		height: calc(100vh - 7em - 48px);
	}
}

@media (min-width:1200px) {
	.portifolio .grid{
		grid-template-columns: repeat(4,240px);
	}
}

.portifolio figure{
	text-align:center;
}

.img-portifolio{
	height:180px;
	width: 240px;
	object-fit: cover;
	object-position: left bottom;
	border-radius: 10%;
	box-shadow: rgba(90, 87, 87, 25%) 5px 5px;
}