* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {	
	background-image: linear-gradient(to bottom right, #f4fcf8, #93e9be);
	font-family:Arial;
	background-size: auto 100vh;
	height:100vh;	
	font-size: 14px;
}

@media (min-width:400px) {
	body{
		font-size: 18px;
	}
}

header {
	height: 100vh;
	display:flex;
	/*
		display:flex;
			header vira flex container, só pega o objeto pai e o objeto filho
	*/
	justify-content: center;
	align-items: center;
}

.linkMenu {
	color : #3a5d4c;
	text-decoration:none;
}

.menu {
	background:#93da93;
	position: fixed;
	top:0; /* Só existe com o position ativado*/
	width: 100vw;
	height: 61px;
}

.menu a {
	display : block;
	padding:20px 30px;	
}

.menu a:hover {
	background-color:#53dc98;
	border-bottom: 2px solid #1d2e26;
}

.menu ul {
	display:flex;
	justify-content:space-around;
}

.menu li {
	list-style:none;	
}

.site-subtitle,
.site-title{
	color: #66a385;
	text-align: center;
}

.site-subtitle{
	font-style: italic;
}

.img-portifolio{
	height:180px;
	width: 180px;
}